{% extends 'baseAdmin.html.twig' %}

{% block title %}modifier une catégorie{% endblock %}

{% block body %}

    <h1 class="mb-5">Modifier une catégorie</h1>

    {{ form_start(categoryForm) }}

        <div class="row">
            <div class="col-4 offset-2">
                {{ form_row(categoryForm.name) }}
            </div>
            <div class="col-4">
                {{ form_row(categoryForm.img) }}
            </div>
        </div>

        <div class="row">
            <div class="col-8 offset-2">
                {{ form_row(categoryForm.description) }}
            </div>
        </div>

        <div class="row">
            <div class="col-8 offset-2 my-3 text-end">
                <a href="{{ path('admin_categories') }}" class="btn btn-outline-danger me-3">Annuler</a>
                <button class="btn btn-success">Modifier</button>
            </div>
        </div>

    {{ form_end(categoryForm) }}

{% endblock %}
